@media screen and (max-width:480px) {
    .content {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }
    .card img {
        width: 100%;
    }
    .main-header {
        /* flex-direction: column; */
        align-items: center;
    }
    .navigation {
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .navigation.open {
        max-height: 50vh;
        overflow: auto;
    }
    .navigation a {
        width: 100%;
    }
    .navbutton {
        display: block;
    }
}