body {
    background-color: bisque;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}
.logo {
    width: 50px;
    display: block;
    padding: 10px;
}
.navbutton {
    width: 54px;
    height: 54px;
    font-size: 32px;
    margin-right: 10px;
    background-color: transparent;
    border-color: transparent;
    display: none;
}
.navigation {
    display: flex;
    flex-direction: row;
    background-color: white;
    text-align: center;
}
.navigation a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
.navigation a:hover {
    color: white;
    background-color: black;
}
.banner {
    background-image: url("stephen-leonardi-NH-vr7Eivu0-unsplash.jpg");
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    font-family: 'Bangers', cursive;
}
.banner h2 {
    text-align: center;
    padding-top: 25vh;
}

.carousel {
    background-color: #333333;
}
.slide {
    min-height: 50vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
    color: #eeeeee;
    background-position: center;
    background-size: cover;
}
.slide h1 {
    padding: 0.5em 1.5em;
    background-color: rgba( 0, 0, 0, 0.5 );
}
.slide-group {
    display: grid;
    grid-template-rows: 2;
}
.slide-button {
    display: block;
    margin: auto;
    padding: 15px 30px;
    color: white;
    background-color: #000000;
    align-self: center;
    text-decoration: none;
}
#second {
    background-image: url("stephen-leonardi-NH-vr7Eivu0-unsplash.jpg");
}
#first {
    background-image: url("images/anthony-cantin-ig-lw0Dtz34-unsplash.jpg");
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 30px auto;
    max-width: 1200px;
    /* background-color: pink; */
    /* border: solid; */
}
.full-width {
    grid-column: span 3;
    aspect-ratio: 16/9;
    position: relative;
}
.youtube-iframe {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

.card img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    display: block;
    padding: 10px;
    font-size: 2rem;
    color: black;
    margin: 0 15px;
}
.social a:hover {
    color: orange;
}
.copyright {
    text-align: center;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* about page */
.about-banner {
    background-image: url("images/marc-pell-oWRVjFQIwAY-unsplash.jpg");
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    font-family: 'Bangers', cursive;
    display: grid;
    place-items: center;
    color: white;
    font-size: 3rem;
}
/* contact page */
.contact-banner {
    background-image: url("images/markus-winkler-_nvKjg0aliA-unsplash.jpg");
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    font-family: 'Bangers', cursive;
    display: grid;
    place-items: center;
    color: white;
    font-size: 3rem;
}

#contact-form {
    grid-column: span 3;
    max-width: 640px;
    margin: auto;
}

.label {
    display: block;
}